@model School

@{
    ViewData["Title"] = "School Information";
    Layout = "_Simple";
}

<h1>School: @Model.NameSchool</h1>
<h2>Code: @Model.SchoolId</h2>
<p><strong>Fundation Year: @Model.YearFundation</strong> </p>

<p><i>@ViewData["cosaDinamica"]</i></p>
