@model Curso

@{
    ViewData["Title"] = "Crear Curso";
    Layout = "_Simple";
}

@if (@ViewBag.Notificacion != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Notificacion
    </div>
}

<form method="post">
    <div class="row">
        <div class="col">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="Jornada"></label>
            @Html.DropDownList(
                "Jornada", Html.GetEnumSelectList<TiposJornada>(),
                "Seleccionar",
                new {@class = "form-control"}    
            )
        </div>
    </div>
    <input type="submit" />
        
</form>

<p><i>@ViewBag.Fecha</i></p>