@model Curso

@{
    ViewData["Title"] = "Crear Curso";
    Layout = "_Simple";
}

<form method="post">
    <div class="row">
        <div class="col">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="Jornada"></label>
            <input asp-for="Jornada" class="form-control" />
        </div>
    </div>
    <input type="submit" />
        
</form>

<p><i>@ViewBag.Fecha</i></p>